*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family: 'Great Vibes', cursive; */

body{
    font-family: 'Satisfy', cursive;
    /* font-family: 'Great Vibes', cursive; */
    background-image: url(./developer\ 1.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    font-size: 2em;
    color: #9e0356;
}

div{
    max-width: 1024px;
    margin: 100px auto;

}

i{
    color: #9e0356; 
}

a{
    text-decoration: none;
}

ul{
    margin-top: 50px;
}

section p:nth-of-type(1){
    margin-bottom: 20px;
    font-size: 3em;
}

section p:nth-of-type(2){
    margin-bottom: 30px;
}

section p b{
   font-size: 50px;
}

section p:nth-of-type(4){
    margin: 40px 0;    
}

legend{
    color: #c2056a;
    font-size: 50px;
}

@media(max-width:768px){
    body{
        background-size: 350px;
    }

    div{
        margin: 50px;
    }
}

/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
} */